In [21]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("points_table.csv")

In [3]:
df

,season,rank,name,short_name,matchesplayed,matcheswon,matcheslost,noresult,matchpoints,nrr,for,against
0,2023,1,Gujarat Titans,GT,14,10,4,0,20,0.809,2450/268.1,2326/279.2
1,2023,2,Chennai Super Kings,CSK,14,8,5,1,17,0.652,2369/254.3,2232/257.5
2,2023,3,Lucknow Super Giants,LSG,14,8,5,1,17,0.284,2253/255.2,2216/259.3
3,2023,4,Mumbai Indians,MI,14,8,6,0,16,-0.044,2592/270.3,2620/272.1
4,2023,5,Rajasthan Royals,RR,14,7,7,0,14,0.148,2419/272.1,2389/273.2
...,...,...,...,...,...,...,...,...,...,...,...,...
131,2008,4,Delhi Capitals,DC,14,7,6,1,15,0.342,2001/233.2,2031/246.4
132,2008,5,Mumbai Indians,MI,14,7,7,0,14,0.570,2080/249.1,2096/269.3
133,2008,6,Kolkata Knight Riders,KKR,14,6,7,1,13,-0.147,1845/242.4,1718/221.4
134,2008,7,Royal Challengers Bangalore,RCB,14,4,10,0,8,-1.160,1983/272.4,2205/261.3
135,2008,8,Deccan Chargers,SRH,14,2,12,0,4,-0.467,2229/270.0,2307/264.3

In [12]:
team_win_loss=df.groupby('name').agg({'matchesplayed':'sum','matcheswon':'sum','matcheslost':'sum'})
team_win_loss['win_ratio']=team_win_loss['matcheswon']/team_win_loss['matchesplayed']
team_win_loss['loss_ratio']=team_win_loss['matcheslost']/team_win_loss['matchesplayed']

team_win_ratio_sort=team_win_loss.sort_values(by=['win_ratio'],ascending=False)
team_loss_ratio_sort=team_win_loss.sort_values(by=['win_ratio'])
team_win_ratio_sort.to_csv('team_win_ratio_sort.csv', index=False)
team_loss_ratio_sort.to_csv('team_loss_ratio_sort.csv', index=False)

In [13]:
team_win_ratio_sort

,matchesplayed,matcheswon,matcheslost,win_ratio,loss_ratio
name,,,,,
Gujarat Titans,28,20,8,0.714286,0.285714
Lucknow Super Giants,28,17,10,0.607143,0.357143
Chennai Super Kings,200,114,83,0.570000,0.415000
Mumbai Indians,228,127,100,0.557018,0.438596
Rising Pune Supergiant,28,14,14,0.500000,0.500000
Rajasthan Royals,200,99,96,0.495000,0.480000
Kolkata Knight Riders,228,112,112,0.491228,0.491228
Royal Challengers Bangalore,228,110,112,0.482456,0.491228
Sunrisers Hyderabad,156,74,81,0.474359,0.519231
Kings XI Punjab,186,87,99,0.467742,0.532258
Delhi Capitals,228,106,119,0.464912,0.521930
Gujarat Lions,28,13,15,0.464286,0.535714
Punjab Kings,42,19,23,0.452381,0.547619
Kochi Tuskers Kerala,14,6,8,0.428571,0.571429
Deccan Chargers,72,27,44,0.375000,0.611111
Pune Warriors,46,12,33,0.260870,0.717391

In [14]:
team_win_ratio_sort.reset_index(level=0, inplace=True)

In [18]:
team_win_ratio_sort.to_csv('team_win_ratio_sorted.csv', index=False)
team_win_ratio_sort

,name,matchesplayed,matcheswon,matcheslost,win_ratio,loss_ratio
0,Gujarat Titans,28,20,8,0.714286,0.285714
1,Lucknow Super Giants,28,17,10,0.607143,0.357143
2,Chennai Super Kings,200,114,83,0.570000,0.415000
3,Mumbai Indians,228,127,100,0.557018,0.438596
4,Rising Pune Supergiant,28,14,14,0.500000,0.500000
5,Rajasthan Royals,200,99,96,0.495000,0.480000
6,Kolkata Knight Riders,228,112,112,0.491228,0.491228
7,Royal Challengers Bangalore,228,110,112,0.482456,0.491228
8,Sunrisers Hyderabad,156,74,81,0.474359,0.519231
9,Kings XI Punjab,186,87,99,0.467742,0.532258
10,Delhi Capitals,228,106,119,0.464912,0.521930
11,Gujarat Lions,28,13,15,0.464286,0.535714
12,Punjab Kings,42,19,23,0.452381,0.547619
13,Kochi Tuskers Kerala,14,6,8,0.428571,0.571429
14,Deccan Chargers,72,27,44,0.375000,0.611111
15,Pune Warriors,46,12,33,0.260870,0.717391

In [19]:
team_loss_ratio_sort.reset_index(level=0, inplace=True) 
team_loss_ratio_sort.to_csv('team_loss_ratio_sorted.csv', index=False)
team_loss_ratio_sort

,name,matchesplayed,matcheswon,matcheslost,win_ratio,loss_ratio
0,Pune Warriors,46,12,33,0.260870,0.717391
1,Deccan Chargers,72,27,44,0.375000,0.611111
2,Kochi Tuskers Kerala,14,6,8,0.428571,0.571429
3,Punjab Kings,42,19,23,0.452381,0.547619
4,Gujarat Lions,28,13,15,0.464286,0.535714
5,Delhi Capitals,228,106,119,0.464912,0.521930
6,Kings XI Punjab,186,87,99,0.467742,0.532258
7,Sunrisers Hyderabad,156,74,81,0.474359,0.519231
8,Royal Challengers Bangalore,228,110,112,0.482456,0.491228
9,Kolkata Knight Riders,228,112,112,0.491228,0.491228
10,Rajasthan Royals,200,99,96,0.495000,0.480000
11,Rising Pune Supergiant,28,14,14,0.500000,0.500000
12,Mumbai Indians,228,127,100,0.557018,0.438596
13,Chennai Super Kings,200,114,83,0.570000,0.415000
14,Lucknow Super Giants,28,17,10,0.607143,0.357143
15,Gujarat Titans,28,20,8,0.714286,0.285714

In [20]:
df=pd.read_csv("all_season_bowling_card.csv")
df

,season,match_id,match_name,home_team,away_team,bowling_team,venue,city,country,innings_id,...,conceded,wickets,economyRate,dots,foursConceded,sixesConceded,wides,noballs,captain,href
0,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,India,1,...,29,2,7.25,13,2,2,0,1,False,https://www.espncricinfo.com/ci/content/player...
1,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,India,1,...,28,0,9.33,6,2,2,0,0,True,https://www.espncricinfo.com/ci/content/player...
2,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,India,1,...,41,1,10.25,10,4,3,0,0,False,https://www.espncricinfo.com/ci/content/player...
3,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,India,1,...,26,2,6.5,10,2,1,0,0,False,https://www.espncricinfo.com/ci/content/player...
4,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,India,1,...,33,2,8.25,8,0,3,0,0,False,https://www.espncricinfo.com/ci/content/player...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12116,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,India,2,...,21,0,5.25,13,3,0,0,0,False,https://www.espncricinfo.com/ci/content/player...
12117,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,India,2,...,30,1,7.5,8,3,0,0,0,False,https://www.espncricinfo.com/ci/content/player...
12118,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,India,2,...,25,2,6.25,11,1,0,3,2,False,https://www.espncricinfo.com/ci/content/player...
12119,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,India,2,...,42,0,10.5,7,5,1,1,0,False,https://www.espncricinfo.com/ci/content/player...
12120,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,India,2,...,39,2,9.75,8,0,4,0,0,False,https://www.espncricinfo.com/ci/content/player...

In [22]:
df.replace(np.nan,0)

,season,match_id,match_name,home_team,away_team,bowling_team,venue,city,country,innings_id,...,conceded,wickets,economyRate,dots,foursConceded,sixesConceded,wides,noballs,captain,href
0,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,India,1,...,29,2,7.25,13,2,2,0,1,False,https://www.espncricinfo.com/ci/content/player...
1,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,India,1,...,28,0,9.33,6,2,2,0,0,True,https://www.espncricinfo.com/ci/content/player...
2,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,India,1,...,41,1,10.25,10,4,3,0,0,False,https://www.espncricinfo.com/ci/content/player...
3,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,India,1,...,26,2,6.5,10,2,1,0,0,False,https://www.espncricinfo.com/ci/content/player...
4,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,India,1,...,33,2,8.25,8,0,3,0,0,False,https://www.espncricinfo.com/ci/content/player...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12116,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,India,2,...,21,0,5.25,13,3,0,0,0,False,https://www.espncricinfo.com/ci/content/player...
12117,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,India,2,...,30,1,7.5,8,3,0,0,0,False,https://www.espncricinfo.com/ci/content/player...
12118,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,India,2,...,25,2,6.25,11,1,0,3,2,False,https://www.espncricinfo.com/ci/content/player...
12119,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,India,2,...,42,0,10.5,7,5,1,1,0,False,https://www.espncricinfo.com/ci/content/player...
12120,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,India,2,...,39,2,9.75,8,0,4,0,0,False,https://www.espncricinfo.com/ci/content/player...

In [25]:
df = df.drop(['captain','href','country'], axis=1)

KeyError: "['captain', 'href', 'country'] not found in axis"

In [32]:

df

,season,match_id,match_name,home_team,away_team,bowling_team,venue,city,innings_id,name,...,overs,maidens,conceded,wickets,economyRate,dots,foursConceded,sixesConceded,wides,noballs
0,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,1,Mohammed Shami,...,4.0,0,29,2,7.25,13,2,2,0,1
1,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,1,HH Pandya,...,3.0,0,28,0,9.33,6,2,2,0,0
2,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,1,JB Little,...,4.0,0,41,1,10.25,10,4,3,0,0
3,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,1,Rashid Khan,...,4.0,0,26,2,6.5,10,2,1,0,0
4,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,1,AS Joseph,...,4.0,0,33,2,8.25,8,0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12116,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,2,M Ntini,...,4.0,1,21,0,5.25,13,3,0,0,0
12117,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,2,MS Gony,...,4.0,0,30,1,7.5,8,3,0,0,0
12118,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,2,JA Morkel,...,4.0,0,25,2,6.25,11,1,0,3,2
12119,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,2,L Balaji,...,4.0,0,42,0,10.5,7,5,1,1,0
12120,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,2,M Muralitharan,...,4.0,0,39,2,9.75,8,0,4,0,0

In [45]:
# df[[ 'economyRate']] = df[[ 'economyRate']].astype(int)
# df['economyRate'].str.replace(r'[0-9]', '0', regex=True)
# df.economyRate = df.economyRate.astype(float)
df.to_csv('bowler_df.csv', index=False)

In [46]:
df1=pd.read_csv("batsman_data_year_wise - bowler_df.csv")
df1

,season,match_id,match_name,home_team,away_team,bowling_team,venue,city,innings_id,name,...,overs,maidens,conceded,wickets,economyRate,dots,foursConceded,sixesConceded,wides,noballs
0,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,1,Mohammed Shami,...,4.0,0,29,2,7.25,13,2,2,0,1
1,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,1,HH Pandya,...,3.0,0,28,0,9.33,6,2,2,0,0
2,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,1,JB Little,...,4.0,0,41,1,10.25,10,4,3,0,0
3,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,1,Rashid Khan,...,4.0,0,26,2,6.5,10,2,1,0,0
4,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,1,AS Joseph,...,4.0,0,33,2,8.25,8,0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12116,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,2,M Ntini,...,4.0,1,21,0,5.25,13,3,0,0,0
12117,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,2,MS Gony,...,4.0,0,30,1,7.5,8,3,0,0,0
12118,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,2,JA Morkel,...,4.0,0,25,2,6.25,11,1,0,3,2
12119,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,2,L Balaji,...,4.0,0,42,0,10.5,7,5,1,1,0
12120,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,2,M Muralitharan,...,4.0,0,39,2,9.75,8,0,4,0,0

In [48]:
df1.dtypes

season           float64
match_id           int64
match_name        object
home_team         object
away_team         object
bowling_team      object
venue             object
city              object
innings_id         int64
name              object
fullName          object
overs            float64
maidens            int64
conceded           int64
wickets            int64
economyRate       object
dots               int64
foursConceded      int64
sixesConceded      int64
wides              int64
noballs            int64
dtype: object

In [51]:
df1 = df1.astype({'economyRate': float})

ValueError: could not convert string to float: '-': Error while type casting for column 'economyRate'

In [52]:
df.columns = df.columns.str.strip()
df["Temperature"] = df['Temperature'].str.strip().astype(float)

KeyError: 'Temperature'

In [53]:
df1

,season,match_id,match_name,home_team,away_team,bowling_team,venue,city,innings_id,name,...,overs,maidens,conceded,wickets,economyRate,dots,foursConceded,sixesConceded,wides,noballs
0,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,1,Mohammed Shami,...,4.0,0,29,2,7.25,13,2,2,0,1
1,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,1,HH Pandya,...,3.0,0,28,0,9.33,6,2,2,0,0
2,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,1,JB Little,...,4.0,0,41,1,10.25,10,4,3,0,0
3,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,1,Rashid Khan,...,4.0,0,26,2,6.5,10,2,1,0,0
4,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,1,AS Joseph,...,4.0,0,33,2,8.25,8,0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12116,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,2,M Ntini,...,4.0,1,21,0,5.25,13,3,0,0,0
12117,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,2,MS Gony,...,4.0,0,30,1,7.5,8,3,0,0,0
12118,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,2,JA Morkel,...,4.0,0,25,2,6.25,11,1,0,3,2
12119,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,2,L Balaji,...,4.0,0,42,0,10.5,7,5,1,1,0
12120,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,2,M Muralitharan,...,4.0,0,39,2,9.75,8,0,4,0,0

In [67]:
venue_data=df1.groupby('venue').agg({'overs':'sum','wickets':'sum'})
venue_data= venue_data.astype({'overs': int,'wickets':int})
venue_data['over_to_wicket_ratio']=venue_data['overs']/venue_data['wickets']
venue_data_wicket_sorted=venue_data.sort_values(by=['wickets'],ascending=False)
venue_data_ratio_sorted=venue_data.sort_values(by=['over_to_wicket_ratio'],ascending=False)
#considering atleast 100 wickets
venue_data_ratio_sorted=venue_data_ratio_sorted[venue_data_ratio_sorted['wickets']>200]
venue_data_ratio_sorted.reset_index(level=0, inplace=True) 

venue_data_ratio_sorted.to_csv('venue_data_ratio_sort.csv', index=False)

In [69]:
df_bowler=pd.read_csv("batsman_data_year_wise - bowler_df .csv")

In [70]:
df_bowler

,season,match_id,match_name,home_team,away_team,bowling_team,venue,city,innings_id,name,...,overs,maidens,conceded,wickets,economyRate,dots,foursConceded,sixesConceded,wides,noballs
0,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,1,Mohammed Shami,...,4.0,0,29,2,7.25,13,2,2,0,1
1,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,1,HH Pandya,...,3.0,0,28,0,9.33,6,2,2,0,0
2,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,1,JB Little,...,4.0,0,41,1,10.25,10,4,3,0,0
3,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,1,Rashid Khan,...,4.0,0,26,2,6.50,10,2,1,0,0
4,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,1,AS Joseph,...,4.0,0,33,2,8.25,8,0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12115,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,2,M Ntini,...,4.0,1,21,0,5.25,13,3,0,0,0
12116,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,2,MS Gony,...,4.0,0,30,1,7.50,8,3,0,0,0
12117,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,2,JA Morkel,...,4.0,0,25,2,6.25,11,1,0,3,2
12118,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,2,L Balaji,...,4.0,0,42,0,10.50,7,5,1,1,0
12119,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,2,M Muralitharan,...,4.0,0,39,2,9.75,8,0,4,0,0

In [84]:
df=df_bowler.groupby(['name']).agg({'wickets': 'sum'}).reset_index()
bowler_wicket_stat=df.sort_values(by=['wickets'],ascending=False)
bowler_wicket_stat.to_csv('bowler_wicket_stat.csv', index=False)
bowler_wicket_stat.head(5)

          name  wickets
496  YS Chahal      187
115   DJ Bravo      183
330  PP Chawla      179
8     A Mishra      173
337   R Ashwin      171

In [85]:
df_bowler

,season,match_id,match_name,home_team,away_team,bowling_team,venue,city,innings_id,name,...,overs,maidens,conceded,wickets,economyRate,dots,foursConceded,sixesConceded,wides,noballs
0,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,1,Mohammed Shami,...,4.0,0,29,2,7.25,13,2,2,0,1
1,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,1,HH Pandya,...,3.0,0,28,0,9.33,6,2,2,0,0
2,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,1,JB Little,...,4.0,0,41,1,10.25,10,4,3,0,0
3,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,1,Rashid Khan,...,4.0,0,26,2,6.50,10,2,1,0,0
4,2023.0,1359475,GT v CSK,GT,CSK,GT,"Narendra Modi Stadium, Motera, Ahmedabad",Ahmedabad,1,AS Joseph,...,4.0,0,33,2,8.25,8,0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12115,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,2,M Ntini,...,4.0,1,21,0,5.25,13,3,0,0,0
12116,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,2,MS Gony,...,4.0,0,30,1,7.50,8,3,0,0,0
12117,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,2,JA Morkel,...,4.0,0,25,2,6.25,11,1,0,3,2
12118,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,2,L Balaji,...,4.0,0,42,0,10.50,7,5,1,1,0
12119,2008.0,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,2,M Muralitharan,...,4.0,0,39,2,9.75,8,0,4,0,0

In [92]:
df=df_bowler.groupby(['name']).agg({'overs':'sum','conceded':'sum','wickets': 'sum'}).reset_index()
df['economy_rate']=df['conceded']/df['overs']
df=df.loc[(df.overs>150) &(df.wickets>150)]
df

           name  overs  conceded  wickets  economy_rate
8      A Mishra  559.1      4125      173      7.377929
67      B Kumar  592.8      4396      170      7.415655
115    DJ Bravo  517.1      4360      183      8.431638
330   PP Chawla  604.8      4796      179      7.929894
337    R Ashwin  697.0      4902      171      7.032999
354   RA Jadeja  589.1      4495      152      7.630283
416  SL Malinga  468.3      3366      170      7.187700
424   SP Narine  623.7      4203      163      6.738817
496   YS Chahal  527.7      4056      187      7.686185